* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 31, 59);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.44);
}

a {
  text-decoration: none;
  border: 1px solid rgba(57, 191, 47);;
  color: rgba(57, 191, 47);
  padding: 4px 8px;
  border-radius: 4px;
}

#app {
  display: flex;
  width: 100%;
  flex: 1;
}

#input {
  flex: 1;
  border: 1px solid gray;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 16px;
  resize: none;
  overflow: auto;
  background-color: #111;
  color: rgba(245, 222, 179, 0.59);
}

#input:focus {
  outline: none;
  border: 1px solid rgb(57, 191, 47);
}

#output{
  flex: 1;
  display: flex;
  flex-direction: column;
}

pre {
  flex: 1;
  tab-size: 16px;
  border: 1px solid gray;
  padding: 8px 16px;
  border-radius: 8px;
  overflow: auto;
  background-color: #111;
  color: rgba(245, 222, 179, 0.6);
  font-size: 14px;
}

.error {
  color: red;
  font-style: italic;
}